<div class="container py-3">
    <h1>Edit
        <b>
            <%= @cocktails.name %></b>
    </h1>
    <%= simple_form_for [ @cocktails ] do |f| %>
    <%= f.input :name %>
    <%= f.submit "Submit Drink", class: "btn btn-primary" %>
    <% end %>
</div>